*{
    padding:0;
    margin:0;
    box-sizing:borderbox;
}
body{
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    color: #a0a0a0;;
    line-height: 1.5;
}
.main-container{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 350px 1fr;
    gap: 50px;
    padding-top: 30px;
    margin:auto;
}
.sidebar{ 
    height:90vh;
    background-color: #2a2a2a;
    border: 2px rgb(126, 82, 38);
    border-radius: 18px;
    padding: 20px;

}
.main-content{
    /* height:90vh; */
    background-color: #2a2a2a;
     border: 2px sandybrown;
    border-radius: 18px;
    padding: 40px;
}
/*profile information  */
.profile{
    text-align: center;
}
.profile img{

    height: 120px;
    width: 120px;
    border-radius: 60px;
    border: 1px solid #3a3a3a;
}
.profile h2{
    font-size: 2rem;
    font-weight: 700;
    margin-top: 20pxS;
    color: #ffff8f;
}
.profile p{
    /* background-color: #0000ff; */
    padding: 5px 15 px;
    color: #ffff8f;
    /* border: 1px solid #89cff0; */
    font-size: 0.9rem;
    border-radius: 0px;
    display: inline-block;
    margin: 10px;

}
/* contact infermation */
.contact{
    margin-top: 30px;
    border-top: 2px solid #3e3e3e;
    padding-top: 20px;

}
.lable{
    font-weight: 500;
    font-size: 0.8rem;
    color: #ffff8f;

}
.value{
    color: #e0e0e0;
    text-decoration: none;
}
.emil,.phone{
    margin-bottom: 15px;
}
/* Social media */
 .social{
     margin-top: 30px;
    border-top: 2px solid #3e3e3e;
    padding-top: 20px;
    text-align: center;
 }
 .social img{
    height: 24px;
    width: 24px;
    margin-left: 5px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
 }
.social img:hover{
    filter:grayscale(0) invert(0);
}
/* main content  */
/* navigation */
#navigation{
    /* padding: 30px 40px; */
    border-bottom: 2px solid #ffff8f;
    margin-bottom:20px ;
    padding-bottom: 20px; 

}
nav{
    display:  flex;
    justify-content: flex-end;
    gap: 40px;
   

}
nav a{
    text-decoration: none;
    color:#ffff8f;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active ,nav a:hover{
    color: #b4b4b0;
}
/* about me  */
.heading{
    color: #ffff8f;
    font-size: 2rem;
    margin-bottom: 15px;
}
.line{
    width: 60px ;
    height: 5px;
    background-color:#ffff8f ;
    margin-bottom: 20px;
}
.content{
    text-align: justify;
}
#about{
    margin-bottom: 40px;
}
/* skils */
.grid-container{
    display:grid;
    grid-template-columns: repeat(auto-fit , minmax(120px, 1fr));
    gap: 40px;

}
.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px #ffff8f;
    background-color: #000000;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3s ease ,boxshadow 0.3s ease;


}
.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(100%) hue-rotate(350deg)brightness(110%)contrast(101%);
    margin-bottom: 15px;
}
.item h3{
    font-size: 1rem;
    font-weight: 500;
}
.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px color rgba(144, 184, 13, 0.3);
}
/* Education */
#education{
margin-top: 30px;
}
/* education */
/* .edtech{
    padding-right: 20px;

} */
.year{
    font-size: 0.9rem;
    columns: #ffff8f;
    margin-bottom: 5px;
}
.degree{
    color: #ffff8f;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}
.college{
    font-style: italic;
    color: #ffff8f;
    margin-bottom: 10px;

}
.work{
    color:#e0e0e0;
}
.edfirst ,.edsecond ,.edthird{
    margin-bottom: 30px;
    padding: 25px;
    position: relative;
}
/* .edsecond{
      margin-bottom: 30px;
    padding: 25px;
    position: relative;
} */
.goal{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 5px solid #ffff8f;
    position: absolute;
    top: 22px;
    left: 0px;
    right: 2px;

   
}
.editech{
    position: relative;
}

.liner{
    position:absolute;
    width: 2px;
    top: 0px;
    bottom: 0px;
    left: 5px;
    border: 2px solid #ffff8f;

}
